body {
  background-image: url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.jost-font {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  box-shadow: 5px 5px 25px 19px #000000;
}

.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}

b, strong {
  font-weight: bolder;
  color: azure;
  color: #292929;
}

/* .bg-dark {
  --bs-bg-opacity: 0; */

.navbar {
  --bs-bg-opacity: 0;
}

#footer_style {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(90deg, rgba(44,44,44,0.8407738095238095) 0%, rgba(182,182,182,0.40379901960784315) 100%);
  padding: 10px 0;
  font-size: 0.7vw;
  font-style: oblique;
}

#text_color {
  color: azure;
}

#footer_style__st {
  bottom: 0;
  width: 100%;
  background: linear-gradient(90deg, rgba(44,44,44,0.8407738095238095) 0%, rgba(182,182,182,0.40379901960784315) 100%);
  padding: 10px 0;
  font-size: 0.7vw;
  font-style: oblique;
}

